/* ============================
		Backgrounds
=============================== */
body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
    overflow-x: hidden;
	box-sizing: border-box;
	font-size: 1em; /* 16px */
}

h1, h2, h3, h4, h5, h6 {
	font-family: Hevletica, Arial, sans-serif;	
	font-weight: 400;
}

/* End of Backgrounds */

/* ============================
		Navbar
=============================== */
.navbar{
	letter-spacing: 1px;
	font-weight: 400;
	background: #f3f1f1;
	border-bottom: 1px outset rgba(190,190,190, 0.5);
	box-shadow: 0px 1px 10px rgba(0,0,0,0.6);
}

.navbar ul.navbar-nav li a{
	background: rgba(28,28,28,0);
	color:#100;
}

#name{
	color: black;
}

#name:hover,
#name:focus {
	background: rgba(255,255,255,0.5);
	color: #000;
}

.navbar ul.navbar-nav li a:hover,
.navbar ul.navbar-nav li a:focus {
	background: rgba(255,255,255,0.5);
	color: #000;
}

@media only screen and (max-width: 600px) {
	.navbar{
		width: 100%;
	}
}


/* End of Navbar */
	
/* ============================
		Index Page	
=============================== */
.bg-overlay1 {
	padding: 100px 0px 50px 0px;
	text-align: center;
	background: url('https://drive.google.com/uc?export=download&id=1Q7DqfQG21xukeOPerChiWc13BKvCu2EV') no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	height: 800px;
	color: black;
	/* height: 100vh; */
}

/* Aspiring */
.bg-overlay1 > h2 {
	font-family: Lobster;
	font-size: 2.5em;
	letter-spacing: 2px;
	margin-top: 80px;
	text-shadow: 3px 3px 10px lightblue;
	/* position: absolute; */
}

/* Data Scientist */
.bg-overlay1 > h1 {
	margin-top: 0px;
	font-size: 3em;
	letter-spacing: 3px;
	font-family: Lobster;
	text-shadow: 3px 3px 10px lightblue;
	/* position: absolute; */
}

.index-buttons {
	position: relative;
	padding-top: 30px;
	
}

.index-buttons li > a:hover,
.index-buttons li > a:focus {
	transform: scale(1.1);
	color: #e70;
	box-shadow: 2px 2px 2px black;
}

@media only screen and (max-width: 600px) {
	.bg-overlay1 {
		color: black;
		padding: 0px 0px;
		height: 120%;
	}
	
	/* Aspiring */
	.bg-overlay1 > h2 {
		font-size: 2em;
		margin-top: 50%;
		font-family: Lobster;
		font-size: 40px;
		letter-spacing: 3px;
	}
	
	/* Data Scientist */
	.bg-overlay1 > h1 {
		font-size: 3em;
	}

	ul.index-buttons > li {
		margin-top: 0%;
		margin-bottom: 0%;
		box-shadow: 0 10px 10px -10px black;		 		
	  }
}

@media only screen and (min-width: 1200px) {
	.bg-overlay1 {
		color: black;
	}

	/* Aspiring */
	.bg-overlay1 > h2 {
		font-size: 2.5em;
		margin-top: 90px;
	}
	
	/* Data Scientist */
	.bg-overlay1 > h1 {
		font-size: 3em;
	}


	ul.index-buttons > li {
		margin-top: -15%;
		margin-bottom: 0%;
		padding: 1%;
	  }
}

/* End of Index Page */

/* ============================
		About Page
=============================== */
.bg-overlay2 {
	padding-top: 50px;
	padding-bottom: 100px;
	background: url('https://drive.google.com/uc?export=download&id=10l4sRWlji0o-PMNMBuWRx2tzuop5F48-') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}

.page-title {
	font-family: Lobster;
	letter-spacing: 1.5px;
	padding-top: 40px;
	margin-bottom: 2%;
	font-weight: bolder;
	font-size: 31px;
	color: black;
	/* text-shadow: 0 1px 0 lightgray; */
	text-shadow: 3px 3px 10px lightblue;
	
}

.img-circle {
	width: 9em;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
	
}

.about-text {
	margin: 0 auto;
	width: 50%;
	color: black;

	width: 400px;
    height: 200px;
    background-color: #ffe873;
	box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.4);
}

.text-box {
	padding: 15px;
}


.skills-box {
	padding: 0px 0px 100px 0px;
	font-weight:bolder;
}

.skill-botton {
	background-color: none;
	margin: 5px;
	font-size: 2em;
}

.about-img{
	height: 100px;
	width: 100px;
	padding: 10px;
	margin: 5px;	
	border: none;
	background-color:rgba(255, 255, 255, 0.9);
	box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 600px) {
	.bg-overlay2 {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	
	.text-box {
		padding: 10px 10px;
		width: 90%;
		height: 90%;
	}

	.page-title {
		font-size: 2em;
		padding: 0px 0px;
		margin-top: 30%;
	}

	.img-circle {
		display: block;
	}
	
 	.about-text {
		line-height: 1.5;
		text-align: justify;
		text-transform: none;
	}
	 
	.about-img {
		width: 40%;
		height: 40%;
	}

	.skill-botton {
 		font-size: .8em; 
	}
}


@media only screen and (min-width: 1200px) {
	.bg-overlay2 {
		padding-top: 50px;
		padding-bottom: 100px;	
	}
	
	.img-circle {
		width: 7em;
		display: block;
		margin-left: auto;
    	margin-right: auto;
	}

	.skill-botton {
		font-size: .8em;
	}

	.about-img{
		height: 120px;
		width: 120px;
		padding: 10px;
		margin: 20px;
	}
}


/* End of About Page */

/* ============================
		Portfolio Page
=============================== */
.bg-overlay3 {
	padding: 50px 60px 100px 60px;
	text-align: center;
	background: url('https://drive.google.com/uc?export=download&id=1irCQsu8ADkmuW_KpeKH9cx4QLZa3ltwg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#portfolio-text {
	margin: 0 auto;
	width: 50%;
	color: black;
	width: 400px;
	height: 40px;
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
    background-color: rgb(250, 186, 184);
	box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.4);
}

.portfolio-flex {
	display: flex;
  	flex-wrap: wrap;
  	justify-content: space-around;
	padding-bottom: 70px;
}

.project-img {
	width: 100%;
}

.project-img > img {
	width: 100%;
}
 
.project-box > a {
	background-color: #fff;
    color: #000;
    display: inline-block;
    margin: 20px;
    padding: 20px;
    transition: all .2s ease-in-out;
    vertical-align: top;
	width: 90%;
	box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.4);
}
	
.project-box > a:hover,
.project-box > a:focus {
	transform: scale(1.05);
	box-shadow: 0px 1px 10px rgba(0,0,0,0.7);
	text-decoration: none;
	color: #000;
}

@media only screen and (max-width: 600px) {		
	.bg-overlay3 {
		color: black;
		padding: 0px 0px;
	}

	#portfolio-text {
		padding: 10px 10px;
		width: 80%;
		height: 80%;
	}
}

@media only screen and (min-width: 1200px) {
	.bg-overlay3 {
		padding-top: 50px;
		padding-bottom: 100px;
	}
}

/* End of Portfolio Page */

/* ============================
		Contact Page
=============================== */
.bg-overlay4 {
	padding: 50px 100px 200px 100px;
	background: url('https://drive.google.com/uc?export=download&id=1bkvfSjeA1_HFQePnjW4BcxdkC64yuJ-Z') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 700px;	
	
}

.contact-area {
	padding-top: 50px;

}

.bg-overlay4 > h2 {
	padding-bottom: 10px;
}

.contact-box {
	margin: 0 auto;
 	width: 30%;
	color: black;

	width: 300px;
    height: 250px;
    padding: 15px;
    background-color: lightskyblue;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.4);
}

.contact-buttons {
	text-align: center;
}

.contact-buttons > li {
	padding-top: 30px;
	box-shadow: 0 10px 10px -10px black;
}

.contact-buttons li > a:hover,
.contact-buttons li > a:focus {
	transform: scale(1.1);
	color: #28e;
	box-shadow: 2px 2px 2px black;
}

@media only screen and (max-width: 600px) {		
	.bg-overlay4 {
		color: black;
		padding-bottom: 100px;
		height: 100%;
	}	

	.contact-box {
		color: black;
		padding: 10px 10px;
		width: 80%;
		height: 80%;
	}
}

@media only screen and (min-width: 1200px) {
	.bg-overlay4 {
		padding-top: 50px;
		padding-bottom: 100px;
	}
}


/* End of Contact Page */

/* ============================
		Footer
=============================== */
.bg-overlay5 {
	background: lightgray;
	padding: 30px 100px 0px 100px;
	height: 150px;
}

.copyright{
	padding-top: 50px;
}

@media only screen and (max-width: 600px){
	.bg-overlay5 {
		height: 20%;
	}

	#contact-menu {
		/* font-size: 1.5em; */
		width: 100%;
	}

	.copyright{
		padding-top: 20px;
	}
}

@media only screen and (min-width: 1200px) {
	/* .bg-overlay5 {
	} */
}

/* End of Footer */

